
body{
    height: 100%;
    background-image: url(./img/back.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 45rem;
    font-family: 'Baloo Bhai', cursive;

}
.account{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 150px;
    padding-left: 00px;
    /* padding-bottom: 25px; */
    padding-right: 70px;
}
.heading{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 45px; */
    padding-right: 60px;
}
h3{
    color: red;
}

p{
    color: blue;
}
.form-group{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-right: 70px;
}
#myId{
    text-align: center;
    display: block;
    width: 308px;
    padding: 3px;
    border: 2px solid black;
    margin: 11px auto;
    /* font-size: 25px; */
    border-radius: 8px;
    font-family: 'Baloo Bhai', cursive;
}
.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 19px 9px;
    background-color: lightgray;
    color: black;
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    height: 35px;
    margin-left: 0px;
}
.btn:hover{
    font-size: 18px;
}
#bu{
    font-family: 'Baloo Bhai', cursive;
    margin-top: 10px;
    margin-left: 680px;
    background-color: orange;
    color: white;
    width: 75px;
    border: 2px solid grey;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
}
#bu:hover{
    font-size: 22px;
    width: 80px;
}
img{
    width: 75px;
    height: 75px;
    margin-right: 85px;
}